<a href="https://colab.research.google.com/github/hamnarehmandigital/Phthon/blob/main/4_list_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Q1: Create a list of 5 fruits. Print the first and last fruit.

fruits = ["apple", "banana", "grapes", "chery", "mango"]
print(fruits)
print(fruits[0])
print(fruits[-1])

fruits.append("pineapple")
print(fruits)

['apple', 'banana', 'grapes', 'chery', 'mango']
apple
mango
['apple', 'banana', 'grapes', 'chery', 'mango', 'pineapple']

In [17]:
#Create a list of numbers [10, 20, 30, 40, 50]. Print the sum of all numbers in the list.

numbers = [10, 20, 30, 40, 50]
print(numbers)
print(sum(numbers))

[10, 20, 30, 40, 50]
150

In [25]:
#Make a list of 4 colors. Replace the 2nd color with a new one and print the updated

colors = ["red", "blue", "green", "yellow"]
print(colors)
colors[1] = "pink"
print(colors)

['red', 'blue', 'green', 'yellow']
['red', 'pink', 'green', 'yellow']

In [26]:
#Create a list [5, 10, 15, 20, 25]. Remove the number 15 and print the updated list.

numebers = [5, 10, 15, 20, 25]
print(numebers)
numebers.remove(15)
print(numebers)

[5, 10, 15, 20, 25]
[5, 10, 20, 25]